
<div class="row">
  <div class="col-md-12 view" id="home">
    <div class="intro-name">
    <h1> Hello, I'm Stephanie!</h1>
    </div>
    <span class="introduction">
      A creative Full-Stack Web Developer with an eye for detail.
    </span>
  </div>
</div>
<!-- <div class="skills-section" id="skills">
  <h2 class="headers" id="recent-header">Skills</h2>
  <hr>
  <div class="flex-container" id="icons">
    <div class="icons skills-icon">
      <%= image_tag("js.png")%>
    </div>
    <div class="icons skills-icon">
      <%= image_tag("ruby.png")%>
    </div>
    <div class="icons skills-icon">
      <%= image_tag("rails.png")%>
    </div>
    <div class="icons skills-icon">
      <%= image_tag("html.png")%>
    </div>
    <div class="icons skills-icon">
      <%= image_tag("CSS.png")%>
    </div>
  </div>
</div> -->
<div class="view" id="recent-work">
  <h2 class="headers" >Recent Work</h2>
  <div class="flex-container">
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Tic-Tac-Toe" target="_blank">
        <%= image_tag("tic-tac-toe-code.png")%>
        <div class="box" id="tictactoe">
          <h2>Tic-Tac-Toe</h2>
          <span>
            The classic game
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Poll-Generator" target="_blank">
        <%= image_tag("poll-generator-code.png")%>
        <div class="box" id="poll-generator">
          <h2>Poll Generator</h2>
          <span>
            Every vote counts
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/The-Frogger-Game" target="_blank">
        <%= image_tag("tic-tac-toe-code.png")%>
        <%# need to change image%>
        <div class="box" id="frogger-game">
          <h2>The Frogger Game</h2>
          <span>
            ...without frogs.
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Tic-Tac-Toe" target="_blank">
        <%= image_tag("tic-tac-toe-code.png")%>
        <div class="box" id="tictactoe">
          <h2>Tic-Tac-Toe</h2>
          <span>
            The classic game
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Poll-Generator" target="_blank">
        <%= image_tag("poll-generator-code.png")%>
        <div class="box" id="poll-generator">
          <h2>Poll Generator</h2>
          <span>
            Every vote counts
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/The-Frogger-Game" target="_blank">
        <%= image_tag("tic-tac-toe-code.png")%>
        <%# need to change image%>
        <div class="box" id="frogger-game">
          <h2>The Frogger Game</h2>
          <span>
            ...without frogs.
          </span>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="about-me" class="view" >
  <h2 class="headers" id="about">About</h2>
  <hr>
  <div class="flex-container">
    <div class="about-me">
      <%= image_tag("me5.png", :id => "profile-img", :class => "img-responsive img-thumbnail") %>
    </div>
    <div class="about-me">
      <p class="about-para">
        A current Wyncode student driven to find solutions through coding and design.
        Chocolate cake biscuit marshmallow toffee cotton candy. Ice cream bonbon toffee
        pie tart bonbon. Dessert fruitcake gummies cookie soufflé sugar plum. Gummies
        biscuit dragée marzipan danish muffin. Tiramisu jelly beans cake danish carrot
        cake candy canes sweet roll sugar plum ice cream.
      </p>
    </div>

  </div>
  <div class="skills-section" id="skills">
    <!-- <h2 class="headers" id="recent-header">Skills</h2>
    <hr> -->
    <div class="flex-container" id="icons">
      <div class="icons skills-icon">
        <%= image_tag("js.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("ruby.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("rails.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("html.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("CSS.png")%>
      </div>
    </div>
</div>

</div>
<div class="footer" id="footer">
  <h2 class="headers" id="contact">Let's Connect</h2>
  <div class="flex-container" id="icons" >
      <div class="icons" >
        <a href="https://twitter.com/_est0516" target="_blank">
          <%= image_tag("Twitter.png")%>
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/pub/stephanie-reyes/106/98b/621" target="_blank">
          <%= image_tag("LinkedIn.png")%>
        </a>
      </div>
      <div class="icons">
        <a href="mailto:stephanie@webreyes.com" target="_blank">
          <%= image_tag("email.png")%>
        </a>
      </div>
  </div>
</div>
</div>
