
<div class="row">
  <div class="col-xs-12 view" id="home">
    <div class="intro-name">
    <h1> Hello, I'm Stephanie!</h1>
    </div>
    <span class="introduction">
      A creative Full-Stack Web Developer with an eye for detail.
    </span>
  </div>
</div>
<div class="view" id="recent-work">
  <h2 class="headers" >Recent Work</h2>
  <div class="flex-container">
    <div class="portfolio-item">
      <a href="" target="_blank">
        <%= image_tag("cafecito.jpg")%>
        <div class="box" id="poll-generator">
          <h2>Creativity brewing...Stay tuned.</h2>
          <span>
          Coming soon.
          </span>
          <br>
          <br>
          <span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Poll-Generator" target="_blank">
        <%= image_tag("brew1.jpg")%>
        <div class="box" id="poll-generator">
          <h2>Creativity brewing...Stay tuned.</h2>
          <span>
          Coming soon.
          </span>
          <br>
          <br>
          <span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="http://doggyworld.webreyes.com" target="_blank">
        <%= image_tag("dogpic3.png")%>
        <div class="box" id="doggyworld">
          <h2>Doggy World</h2>
          <span>
            --Pardon the dust as this site is under Construction--
            A pet adoption platform with real-time data for shelters near you.
            Developed in Ruby on Rails.
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Poll-Generator" target="_blank">
        <%= image_tag("poll.jpg")%>
        <div class="box" id="poll-generator">
          <h2>Poll Generator</h2>
          <span>
            Every vote counts in this simulation.
          </span>
          <br>
          <br>
          <span>
            Create, update or delete your voter or politician for this voting
            simulation. Results will populate with a random user API.
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/Tic-Tac-Toe" target="_blank">
        <%= image_tag("tictac1.png")%>
        <div class="box" id="tictactoe">
          <h2>Tic-Tac-Toe</h2>
          <span>
            The classic game of X and O.
          </span>
          <br>
          <br>
          <span>
            Choose your coordinates and play against ramdomized computer input
            created with Ruby logic.
          </span>
        </div>
      </a>
    </div>
    <div class="portfolio-item">
      <a href="https://github.com/sqr0502/The-Frogger-Game" target="_blank">
        <%= image_tag("frogger.png")%>
        <%# need to change image%>
        <div class="box" id="frogger-game">
          <h2>The Frogger Game</h2>
          <span>
            ...without frogs.
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="about-me" class="view" >
  <h2 class="headers" id="about">About</h2>
  <hr>
  <div class="flex-container">
    <div class="about-me">
      <%= image_tag("HeadShot.jpg", :id => "profile-img", :class => "img-responsive img-thumbnail") %>
    </div>
    <div class="about-me">
      <p class="about-para">
        Thank you for stopping by. Just a little bit about myself, and the passion
        that drives me. I am a current Wyncode student driven to find solutions through
        design and coding. Motivated by user experience and design, I have dived into the
        world of coding to find elegant solutions. My ambition provides me with the
        creativity to excel. 
      </p>
    </div>

  </div>
  <div class="skills-section" id="skills">
    <!-- <h2 class="headers" id="recent-header">Skills</h2>
    <hr> -->
    <div class="flex-container" id="icons">
      <div class="icons skills-icon">
        <%= image_tag("js.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("ruby.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("rails.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("html.png")%>
      </div>
      <div class="icons skills-icon">
        <%= image_tag("CSS.png")%>
      </div>
    </div>
</div>

</div>
<div class="footer" id="footer">
  <h2 class="headers" id="contact">Let's Connect</h2>
  <div class="flex-container" id="icons" >
      <div class="icons" >
        <a href="https://twitter.com/_est0516" target="_blank">
          <%= image_tag("Twitter.png")%>
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/pub/stephanie-reyes/106/98b/621" target="_blank">
          <%= image_tag("LinkedIn.png")%>
        </a>
      </div>
      <div class="icons">
        <a href="mailto:stephanie@webreyes.com" target="_blank">
          <%= image_tag("email.png")%>
        </a>
      </div>
  </div>
</div>
</div>
